<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1 th:text="${model}"></h1>

    <ul>
        <li><a th:href="@{/params/param(texto='sdfasdf',numero=3)}">asdfasdf</a></li>
    </ul>
</body>

</html>