<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<body>
    <h1 th:text="${titulo}"></h1>

    <h3 th:text="${factura.descripcion}"></h3>
    <div>Cliente: <span th:text="${factura.cliente.nombre + ' ' + factura.cliente.apellido}"></span></div>
    <table border="1px solid blue">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item: ${factura.items}">
                <td th:text="${item.producto.nombre}"></td>
                <td th:text="${item.producto.precio}"></td>
                <td th:text="${item.cantidad}"></td>
                <td th:text="${item.calcularImporte()}"></td>
            </tr>

        </tbody>
    </table>
</body>

</html>