<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<body>
<h1 th:text="${titulo}"></h1>
    <div th:text="${resultado}"></div>
</body>

</html>